body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: beige;
    font-family: arial, sans-serif;  
}


.calculadora {
    background-color: #333;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    min-height: 500px;
}
 
#visor {
    width: 100%;
    height: 70px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

button {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #aeb121;
    
}

button:active {
    transform: translateY(1px);
}


.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
